<table class="table table-bordered bg-light p-4 mt-3 mb-3 text-center" style="">
   <th colspan="5">
      <select class="form-control" onchange="window.location.href=this.value">
         <option value="">Sort by name</option>
         <option value="/doll/sort/asc">Ascending</option>
         <option value="/doll/sort/desc">Descending</option>
      </select>
   </th>

   <th colspan="1">
      <form action="/doll/search" method="post">
         <div class="form-group">
            <input class="form-control" type="search" name="name" placeholder="Search by name">
         </div>
      </form>
   </th>

   <h1 style="text-align: center;">This is information about Doll table</h1>
   <tr>
      <th class="text-primary" colspan="5">Doll List</th>
      <th>
         <p>Menu</p>
         <a class="btn btn-primary" href="/doll/add">Add</a>
         <a class="btn btn-success" href="/doll/drop"
            onclick="return confirm('Are you sure to delete all information about Toy?');">Delete All</a>
      </th>
   </tr>
   <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date of Manufacture</th>
      <th>Image</th>
      <th>Status</th>
   </tr>

   {{#each doll }}
   <tr>
      <td>{{name}}</td>
      <td>${{price}}</td>
      <td>{{dateFormat dob "DD/MM/YYYY"}}</td>
      
      <td>
         <a href="/doll/detail/{{_id}}">
            <img src="{{image}}" width="100" height="100">
         </a>
      </td>

      <td>
         {{#equal available true}}
         <span style="color:springgreen; font-weight: bold;">Available</span>
         {{/equal}}
         {{#equal available false}}
         <span style="color: red; font-style: italic;">Unavailable</span>
         {{/equal}}
      </td>

      <td>
         <a class="btn btn-warning" href="/doll/edit/{{_id}}">EDIT</a>
         <a class="btn btn-danger" href="/doll/delete/{{_id}}">DELETE</a>
      </td>
   </tr>
   {{/each}}
</table>